/* Global styles */

/* inline-block whitespace fix http://www.lifeathighroad.com/web-development/css-web-development/inline-block-whitespace-workaround/ */



.gsrm-menu{
    letter-spacing: -4px;
    word-spacing: -4px;    
    width:100%;
    overflow:hidden;
    list-style:none;
    padding: 1em 0;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    padding: 0 1em;
}

.gsrm-menu li{
    list-style:none;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    *display: inline; /* For IE6/IE7 */
    zoom: 1; /* For IE6/IE7 */    
}
/* Top menu styles */

#menu-wrap{
    position:relative;
}

#gsrm-top-menu li, 
#gsrm-top-menu li a,
#gsrm-top-menu a span{
    display: block;
}

#gsrm-top-menu li{
    margin-bottom: 1em;
}

#gsrm-top-menu li a {padding: 1em .5em;}

#gsrm-top-menu a span{
    font-size: .8em;
}

#gsrm-top-menu a:hover{
    text-decoration: none;
}

#gsrm-top-menu .current-menu-item a,
#gsrm-top-menu a:hover
{
    background-color: #333;
    color: #fff;
}

/* submenus are hidden first */

#gsrm-sub-menu{
    display:none;
}

/* Responsive web design */
@media only screen and (min-width: 481px) {

    #gsrm-top-menu li {
        display:inline-block;
        vertical-align: top;
        width: 49%;
    }
}

@media only screen and (min-width : 601px) {

    #gsrm-top-menu{
        padding-bottom:0;
    }
    
    #gsrm-top-menu li{
        width:auto;
        margin: 0 1em 0 0;
    }

    /* hide link desc */
    #main-nav span{
        display:none;
    }

    /* reveal main submenu */
    #gsrm-sub-menu{
        display:block;
        background-color: #333;
    }
    
    #gsrm-sub-menu > li {
        display:none;
    }
    #gsrm-sub-menu a{
        color: #fff;
    }
    
    #gsrm-sub-menu > .current-menu-item{
        display:block;
        padding-bottom: 1em;
        position: relative;
    }
    #gsrm-sub-menu .current-menu-item > .sub-menu > li{
        display: inline-block;
        width: 24%;
        vertical-align:top;
    }

}

@media only screen and (min-width : 1025px) {
    
    #gsrm-top-menu {
        
    }
    /* reveal link desc */
    #main-nav span{
        display:block;
    }
}