/* Global styles */

/* inline-block whitespace fix http://www.lifeathighroad.com/web-development/css-web-development/inline-block-whitespace-workaround/ */

.gsrm-menu, .gsrm-menu li{
    margin:0;padding:0;
}

.gsrm-menu{
    letter-spacing: -4px;
    word-spacing: -4px;    
    width:100%;
    overflow:hidden;
    list-style:none;
    padding: 1em 0;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.gsrm-menu li{
    list-style:none;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    *display: inline; /* For IE6/IE7 */
    zoom: 1; /* For IE6/IE7 */    
}
/* Top menu styles */

#gsrm-top-menu li, 
#gsrm-top-menu li a,
#gsrm-top-menu a span{
    display: block;
}

#gsrm-top-menu li{
    margin-bottom: 1em;
}

#gsrm-top-menu a span{
    font-size: .8em;
}

#gsrm-top-menu a:hover{
    text-decoration: none;
}

#gsrm-top-menu .current-menu-item a,
#gsrm-top-menu a:hover
{
    background-color: #ccc;
}

/* Submenus styles */
/* hide all submenus */
#gsrm-sub-menu{
    display:none;
}

/* Responsive web design */
@media only screen and (min-width: 481px) {

    #gsrm-top-menu li {
        display:inline-block;
        vertical-align: top;
        width: 49%;
    }
}

@media only screen and (min-width : 601px) {
    #gsrm-top-menu li{
        width:auto;
        margin: 0 1em 0 0;
    }

    /* hide link desc */
    #main-nav span{
        display:none;
    }

    /* reveal main submenu on target (rows) */
    #gsrm-sub-menu{
        display:block;
        background-color:  #ccc;
        padding: 0 1em;
    }
    
    /* align columns */
    #gsrm-sub-menu > li{
        display: inline-block;
        width: 24%;
        vertical-align:top;
    }

    /* each menu item on its own row */


}

@media only screen and (min-width : 1025px) {
    
    #gsrm-top-menu {
        background: #ddd;
    }
    /* reveal link desc */
    #main-nav span{
        display:block;
    }
}

/* Submenu toggle CSS JS ONLY */
#menu-wrap h2.toggle {
  background-image: url(images/plus.png);
  background-repeat: no-repeat;
  padding-left: 2em;
}

#menu-wrap h2.expanded {
  background-image: url(images/minus.png);
}

#menu-wrap h2.toggle a {
  color: #000000;
}

#menu-wrap h2.toggle a:focus {
  background: #993235;
}